@font-face {
	font-family: "iconfont";
	/* Project id 2642871 */
	src: url('//at.alicdn.com/t/font_2642871_uwhofwkoqk9.woff2?t=1629357428637') format('woff2'),
		url('//at.alicdn.com/t/font_2642871_uwhofwkoqk9.woff?t=1629357428637') format('woff'),
		url('//at.alicdn.com/t/font_2642871_uwhofwkoqk9.ttf?t=1629357428637') format('truetype'),
		url('@/static/font/iconfont.ttf') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-shigu:before {
	content: "\e67c";
}

.icon-jiazhaopian:before {
	content: "\e67a";
}

.icon-jiashipin:before {
	content: "\e67b";
}

.icon-paizhao:before {
	content: "\e679";
}

.icon-tiaobo:before {
	content: "\e678";
}

.icon-a-yujingjinggao1:before {
	content: "\e677";
}

.icon-mingxi:before {
	content: "\e676";
}

.icon-pandian:before {
	content: "\e675";
}

.icon-kucun:before {
	content: "\e674";
}

.icon-chuku:before {
	content: "\e673";
}

.icon-a-ruku1:before {
	content: "\e672";
}

.icon-shurucuowu:before {
	content: "\e671";
}

.icon-shuruwancheng:before {
	content: "\e66f";
}

.icon-mima:before {
	content: "\e670";
}

.icon-a-dianhua:before {
	content: "\e66e";
}

.icon-a-yujingjinggao:before {
	content: "\e66d";
}

.icon-gerenziliao:before {
	content: "\e66c";
}

.icon-wodeshezhi:before {
	content: "\e669";
}

.icon-wodefankui:before {
	content: "\e66a";
}

.icon-lianjie:before {
	content: "\e668";
}

.icon-daozhequ:before {
	content: "\e667";
}

.icon-jigouliebiao:before {
	content: "\e66b";
}

.icon-ditu:before {
	content: "\e650";
}

.icon-a-wode:before {
	content: "\e665";
}

.icon-shouye:before {
	content: "\e666";
}

.icon-ziyuan:before {
	content: "\e6ad";
}

.icon-renyuanzhengjian:before {
	content: "\e662";
}

.icon-jigouzhengjian:before {
	content: "\e663";
}

.icon-shiandengji:before {
	content: "\e664";
}

.icon-feiqiwuchulixianchang:before {
	content: "\e65d";
}

.icon-xiaoduxianchang:before {
	content: "\e65e";
}

.icon-shicaisuyuan:before {
	content: "\e65f";
}

.icon-liuyangxianchang:before {
	content: "\e660";
}

.icon-peicanxianchang:before {
	content: "\e661";
}

.icon-jianchaneirong:before {
	content: "\e651";
}

.icon-xunchajieguo:before {
	content: "\e652";
}

.icon-renyuanxinxi:before {
	content: "\e653";
}

.icon-jianchajigou:before {
	content: "\e654";
}

.icon-jianchafangshi:before {
	content: "\e655";
}

.icon-pingdingdengji:before {
	content: "\e656";
}

.icon-xunchaxinxi:before {
	content: "\e657";
}

.icon-pingdingbiaozhun:before {
	content: "\e658";
}

.icon-renwuxinxi:before {
	content: "\e659";
}

.icon-jiancharenyuan:before {
	content: "\e65a";
}

.icon-mendianmingcheng:before {
	content: "\e65b";
}

.icon-jianchashixiang:before {
	content: "\e65c";
}

.icon-start:before {
	content: "\ea8e";
}

.icon-ren:before {
	content: "\e64f";
}

.icon-dianhua1:before {
	content: "\e691";
}

.icon-buzhi:before {
	content: "\e60c";
}

.icon-sousuo:before {
	content: "\e6a0";
}

.icon-jigouzicha:before {
	content: "\e64d";
}

.icon-jianguanxuncha:before {
	content: "\e64e";
}

.icon-riqi1:before {
	content: "\e64b";
}

.icon-xiepinglun:before {
	content: "\e649";
}

.icon-bofang:before {
	content: "\e64a";
}

.icon-a-pinglun:before {
	content: "\e647";
}

.icon-kuaizhao:before {
	content: "\e648";
}

.icon-jiluren1:before {
	content: "\e646";
}

.icon-zhiwei:before {
	content: "\e645";
}

.icon-peicanren:before {
	content: "\e644";
}

.icon-meiriyingxiang:before {
	content: "\e642";
}

.icon-liuyangjilu:before {
	content: "\e643";
}

.icon-zhidanren:before {
	content: "\e63e";
}

.icon-pizhunren:before {
	content: "\e63f";
}

.icon-shenheren:before {
	content: "\e640";
}

.icon-yingyangshi:before {
	content: "\e641";
}

.icon-zhongcan:before {
	content: "\e639";
}

.icon-wancan:before {
	content: "\e63a";
}

.icon-canci:before {
	content: "\e63b";
}

.icon-zaocan:before {
	content: "\e63c";
}

.icon-jiacan:before {
	content: "\e63d";
}

.icon-tuichu:before {
	content: "\e638";
}

.icon-dianhua:before {
	content: "\e635";
}

.icon-jianchaxiangmu:before {
	content: "\e636";
}

.icon-beiyong:before {
	content: "\e637";
}

.icon-jiantouzuo:before {
	content: "\e61d";
}

.icon-xiajiantou:before {
	content: "\e61e";
}

.icon-feiqiwuzhonglei:before {
	content: "\e61f";
}

.icon-beizhu:before {
	content: "\e620";
}

.icon-shizhong:before {
	content: "\e621";
}

.icon-shanchu:before {
	content: "\e622";
}

.icon-tianjia:before {
	content: "\e623";
}

.icon-jiaojieren:before {
	content: "\e624";
}

.icon-a-fanhui:before {
	content: "\e625";
}

.icon-shanchu1:before {
	content: "\e626";
}

.icon-jiantouyou:before {
	content: "\e627";
}

.icon-yingxiang:before {
	content: "\e628";
}

.icon-feiqiwudanwei:before {
	content: "\e629";
}

.icon-zhongliang:before {
	content: "\e62a";
}

.icon-shuliang:before {
	content: "\e62b";
}

.icon-bianji:before {
	content: "\e62c";
}

.icon-riqi:before {
	content: "\e62d";
}

.icon-shouyunren:before {
	content: "\e62e";
}

.icon-jiluren:before {
	content: "\e62f";
}

.icon-feiqiwuyongtu:before {
	content: "\e630";
}

.icon-shitang:before {
	content: "\e631";
}

.icon-jine:before {
	content: "\e632";
}

.icon-pinglun:before {
	content: "\e633";
}

.icon-shougoufang:before {
	content: "\e634";
}

.icon-shouyexuanze:before {
	content: "\e64c";
}
